
.menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.menuhover{
	display: none ;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 13px;
	height: 100px;
	width:300px;
}

h2{
	text-align: center;
}


.container{
	margin-left: 400px;
	margin-right: 400px;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

a:active {
    text-decoration: underline;
}

h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 25px;
}

#maintxt{
font-family: 'Montserrat', sans-serif;
width:600px;
height:500px;
margin: auto;
}

iframe{
	margin: auto;
}

#img1{width: 600px;
height:600px;
margin: auto;}

header {
	height:50px;
    width:100%;
	position: fixed;
	opacity: .5%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 50px;}

#cars{
	width:500px;
	height:500px;
	margin-top: -200px;
	background-image: url("../../media/carad.jpg");
	margin-left: 800px;
}

		.cartxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:100px;
			margin-left: 700px;
			font-size: 25px;
		}
		.carhover{
			display: none ;
			font-family: 'Montserrat', sans-serif;
			color: black;
		    font-size: 13px;
		    margin-left: 1000px;	
		    height: 100px;
		    width:300px;
		   	
		}

#cosmetics{
	width:500px;
	height:400px;
	background-image: url("../../media/70smakeup.jpg");
	margin-left: 30px;
}

		.costxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: -870px;
			font-size: 25px;
		}

		.coshover { 
			display: none ;
			font-family: 'Montserrat', sans-serif;
		    color: black;
		    font-size: 13px;
		    margin-left: 1000px;	
		    height: 100px;
		    width:300px;	
		}

		
#mag{
	width:700px;
	height:450px;
	margin-top: -280px;
	margin-left: 600px;
	background: lightblue;
	background-image: url("../../media/gloria.jpg");
}
		.magtxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: 480px;
			font-size: 25px;
		}

		.maghover{
			display: none ;
			font-family: 'Montserrat', sans-serif;
		    color: black;
		    font-size: 13px;	
		    height: 300px;
		    width:300px;
		    margin-left: 300px;
		}
#movies{
	width:300px;
	height:400px;
	margin-top: -100px;
	margin-left: 30px;
	background-image: url("../../media/fever.jpg");}
		.movtxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: -1090px;
			font-size: 25px;
		} 

		.movhover{
			display: none ;
			font-family: 'Montserrat', sans-serif;
		    color: black;
		    font-size: 13px;
		    margin-left: 1120px;	
		    height: 100px;
		    width:300px;	
		}
#protest{
	width:500px;
	height:500px;
	margin-top: -200px;
	margin-left: 800px;
	background-image: url("../../media/gun.jpg");}
		.protxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: 700px;
			font-size: 25px;
		}
		.prohover{
			display: none ;
			font-family: 'Montserrat', sans-serif;
		    color: black;
		    font-size: 13px;
		    margin-left: 200px;	
		    height: 100px;
		    width:300px;
		}
#race{
	width:600px;
	height:600px;
	margin-top: -200px;
	margin-left: 30px;
	background-image: url("../../media/race.jpg");}
		.racetxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: -790px;
			font-size: 25px;
		}

		.racehover{
			display: none ;
			font-family: 'Montserrat', sans-serif;
		    color: black;
		    font-size: 13px;
		    margin-left: 970px;	
		    height: 100px;
		    width:300px;
		}
#records{
	width:600px;
	height:400px;
	margin-top: -300px;
	margin-left: 700px;
background-image: url("../../media/blue.jpg");}

		.rectxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: 600px;
			font-size: 25px;
		}
		.rechover{
			display: none ;
			font-family: 'Montserrat', sans-serif;
		    color: black;
		    font-size: 13px;
		    margin-left: 260px;	
		    height: 100px;
		    width:300px;
		}

#style{
	width:400px;
	height:250px;
	margin-left: 30px;
background-image: url("../../media/mini.jpg");}
		.styletxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: -990px;
			font-size: 25px;
		}
		.stylehover{
			display: none ;
			font-family: 'Montserrat', sans-serif;
		    color: black;
		    font-size: 13px;
		    margin-left: 1060px;	
		    height: 100px;
		    width:300px;
		}
#footer{
font-family: 'Montserrat', sans-serif;
margin: auto;
font-size: 20px;
text-align: center;
}


@media (max-width: 750px) {
	#cars{
	width: 410px;
height: 420px;
margin-left: 30px;
display: inline-block;
}
	#cosmetics{
	width: 410px;
	height: 420px;
	display: inline-block;
	}
#mag{
	width: 410px;
	height: 420px;
	margin-left: 30px;
	display: inline-block;
}

#movies{
	width: 410px;
	height: 420px;
	margin-left: 30px;
	display: inline-block;
}
#protest{
width: 410px;
height: 420px;
margin-left: 30px;
display: inline-block;
}

#race{
width: 410px;
height: 420px;
margin-left: 30px;
display: inline-block;
}

#records{
width: 410px;
height: 420px;
margin-left: 30px;
display: inline-block;
}

#style{
width: 410px;
height: 420px;
margin-left: 30px;
display: inline-block;
}

#maintxt{
	font-size: 15px;
	width: 400px;
}

.collection{
	width: 400px;
	height: 200px;
}
	
}

@media(max-width: 375px){
		#cars{
	width: 300;
	height: 320;
	display: inline-block;
}
		.cartxt{
		margin-left: 40px;
		width:20px; 
		height:20px;
		font-size: 10px;
		}
		.carhover{
			display:none;}
	#cosmetics{
	width: 300;
	height: 320;
	display: inline-block;
	}
	.coshover{
		display:none;
	}
#mag{
	width: 300;
	height: 320;
	display: inline-block;
}

.magtxt{
	margin-left: -40px;
}
.maghover{
	display:none;
}

#movies{
	width: 300;
	height: 320;
	display: inline-block;
}
.movhover{
	display:none;
}
#protest{
width: 300;
height: 320;
display: inline-block;
}
.prohover{
	display: none;
}

#race{
width: 300;
height: 320;
display: inline-block;
}
.racehover{
	display:none;
}

#records{
width: 300;
height: 320;
display: inline-block;
}
.rechover{
	display: none;
}

#style{
width: 300;
height: 320;
display: inline-block;
}

.stylehover{
	display: none;
}
	#maintxt{
		width: 100px;
		font-size: 10px;
	}
	header{
		font-size: 20px;
	}

	h1{
		font-size: 10px;
	}
}


