h2{
	text-align: center;
}


#footer{
	font-family: 'Montserrat', sans-serif;
	position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
	text-align: center;
}
.container{
	margin-left: 100px;
	margin-right: 50px;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

a:active {
    text-decoration: underline;
}

h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 25px;
}

#maintxt{
font-family: 'Montserrat', sans-serif;
width:450px;
height:500px;
margin: auto;
}

iframe{
	margin: auto;
}

#img1{width: 600px;
height:600px;
margin: auto;}

header {
	height:50px;
    width:100%;
	position: fixed;
	opacity: .5%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 50px;}

#cars{
	width:500px;
	height:500px;
	margin-top: -200px;
	background-image: url("../../media/carad.jpg");
	margin-left: 800px;
}

		#cartxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: 700px;
			font-size: 25px;
		}

#cosmetics{
	width:500px;
	height:400px;
	background-image: url("../../media/70smakeup.jpg");
	margin-left: 30px;
}

		#costxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: -870px;
			font-size: 25px;
		}

#mag{
	width:700px;
	height:450px;
	margin-top: -280px;
	margin-left: 600px;
	background: lightblue;
	background-image: url("../../media/gloria.jpg");
}
		#magtxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: 480px;
			font-size: 25px;
		}
#movies{
	width:300px;
	height:400px;
	margin-top: -100px;
	margin-left: 30px;
background-image: url("../../media/fever.jpg");}
		#movtxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: -1090px;
			font-size: 25px;
		}
#protest{
	width:500px;
	height:500px;
	margin-top: -200px;
	margin-left: 800px;
background-image: url("../../media/gun.jpg");}
		#protxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: 700px;
			font-size: 25px;
		}
#race{
	width:600px;
	height:600px;
	margin-top: -200px;
	margin-left: 30px;
	background-image: url("../../media/race.jpg");}
		#racetxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: -790px;
			font-size: 25px;
		}

#records{
	width:600px;
	height:400px;
	margin-top: -300px;
	margin-left: 700px;
background-image: url("../../media/blue.jpg");}

		#rectxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: 600px;
			font-size: 25px;
		}

#style{
	width:400px;
	height:250px;
	margin-left: 30px;
background-image: url("../../media/mini.jpg");}
		#styletxt{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			height:50px;
			margin-left: -990px;
			font-size: 25px;
		}
