#header{
	  width: 300px;
  	height: 100%;
  	float: left;
	background-color: white;
	font-family: 'Karla', sans-serif;
}
#block1, #block2, #block3, #block4, #block5, #block6, #block7, #block8, a:link, #block a:visited, #block a:hover, #block a:active {
	text-decoration: none; color: black;
} 
	#block1{
		width: 300px;
		height: 300px;
		background-image: url("../media/water.png");
		display:inline-block;
		text-align: center;
		font-family: 'Karla', sans-serif;
		font-size: 20px;}
	#block1:hover{
		background: white;
	}

	#block2{
	width: 300px;
	height: 300px;
	background-image: url("../media/homer.png");
	display:inline-block;
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	}
	#block2:hover{
		background: white;
	}

	#block3{
		width: 300px;
		height: 300px;
		background-image: url("../media/cher.jpg");
		text-align: center;
		display:inline-block;
		font-family: 'Karla', sans-serif;
		font-size: 20px;
	}	
	#block3:hover{
		background: white;
	}


	#block4{
		width: 300px;
		height: 300px;
		background-image: url("../media/applemac.jpg");
		display:inline-block;
		text-align: center;
		font-family: 'Karla', sans-serif;
		font-size: 20px;
	}
	#block4:hover{
			background: white;
		}

	#block5{
		width: 300px;
		height: 300px;
		background-color: white;
		display:inline-block;
			text-align: center;
			font-size: 20px;

		font-family: 'Karla', sans-serif;

	}
	#block5:hover{
		background: white;
	}
#block6{
	width: 300px;
	height: 300px;
	background-color: white;
	display:inline-block;
		text-align: center;
		font-size: 20px;

		font-family: 'Karla', sans-serif;
}
#block6:hover{
		background: white;
	}
#block7{
	width: 300px;
	height: 300px;
	background-image: url("../media/rosewater.jpg");
	display:inline-block;
		text-align: center;
		font-size: 20px;

		font-family: 'Karla', sans-serif;
}
#block7:hover{
		background: white;
	}
#block8{
	width: 300px;
	height: 300px;
	background-image: url("../media/rose.jpg");
	display:inline-block;
		text-align: center;
		font-size: 20px;

	font-family: 'Karla', sans-serif;
}
#block8:hover{
		background: white;
	}
#block9{
	width: 300px;
	height: 300px;
	background-image: url("../media/cola2.jpg");
	display:inline-block;
		text-align: center;
		font-size: 20px;

		font-family: 'Karla', sans-serif;
}
#block9:hover{
		background: white;
	}
#block10{
	width: 300px;
	height: 300px;
	background-image: url("../media/kitty.jpg");
	display:inline-block;
		text-align: center;
		font-size: 20px;

		font-family: 'Karla', sans-serif;
}
#block10:hover{
		background: white;
}

#block11{
	width: 300px;
	height: 300px;
	background-color:white;
	display:inline-block;
		text-align: center;
		font-size: 20px;

		font-family: 'Karla', sans-serif;
}
#block11:hover{
		background: white;
}

#block12{
	width: 300px;
	height: 300px;
background-color:white;
	display:inline-block;
		text-align: center;
		font-size: 20px;

		font-family: 'Karla', sans-serif;
}
#block12:hover{
		background: white;
}





















	