a{
	font-family: 'Montserrat', sans-serif;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

a:active {
    text-decoration: underline;
}

h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#block1{
text-align: center;
}