#blogtxt{
	width: 400px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Karla', sans-serif;
	padding-top: 40px;
	line-height: 1.35;
}

img{
	display: block;
    margin: 0 auto;
}

h1{
	text-align: center;
}

#showmore{
	width: 150px;
	height: 45px;
	text-align: center;
	font-family: 'Karla', sans-serif;
	border-style: solid;
}

#showmore:hover{
background-color: black;
color:white;}