#example{
font-family: 'Rakkas', cursive;
	font-weight: normal;
	font-style: normal;
}
h5{
font-family: 'Karla', sans-serif;
}

#photo{
	padding-top: 40px; 
	padding-left: 600px;
}

#maintxt{
	font-size: 100%;
	width:500px; 
	height:500px; 
	vertical-align:top;
  	position:absolute;
  	left: 20px;
  	right: 1000px;
  	top:40px;}
