h1{
color: white;
font-family: 'Bentham', serif;
text-align: center;
font-size: 50px;
}

h5{
color: white;
font-family: 'Bentham', serif;
position: fixed;
right:20px;
bottom: 10px;
}

header{
	position: fixed;
	left:20px;
	bottom: 10px;
}
.label{
	display: inline-block;
}

.label.active{
	background-color: black;
}

.label.inactive{
	background-color: black;
}

.label.orchid{
	background-color: black;
}

.monitor{
	background-color: black;
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	color: white;
	text-align: center;

}




body{
	margin: 4px;
	margin-right: 0px;
	background-color: black;
}




.block{

	border: 1px solid black;
	width:400px;
	height:400px;
	background-color: white;
	margin:auto;

}



@media (max-width: 1800px) {
	.block{
		background-image: url("../media/rose.jpg");
}
	.label.poppy{
		display: none;
	}
	.label.parrot {
		display:none;
	}
	.label.daisy {
		display:none;
	}
	.label.orchid {
		display:none;
	}
	.label.orchid {
		display:none;
	}
	.label.inactive {
		display:none;
	}
	.label.active {
		display:inline;
	}
	.label.hibiscus{
		display: none;
	}

}

@media (max-width: 1000px) {
	.block{
		background-image: url("../media/orchid.jpg");
}
	.label.parrot {
		display:none;
	}
	.label.daisy {
		display:none;
	}
	.label.orchid {
		display:none;
	}
	.label.orchid {
		display:none;
	}
	.label.inactive {
		display:none;
	}
	.label.active {
		display:none;
	}
	.label.hibiscus{
		display: inline;
	}
	
}


@media (max-width: 650px) {
	
	.block{
	background-image: url("../media/orchid2.jpg");
	}
	.label.parrot {
		display:none;
	}
	.label.daisy {
		display:none;
	}
	.label.orchid {
		display:inline;
	}
	
	.label.inactive {
		display:none;
	}
	.label.active {
		display:none;
	}
	.label.hibiscus{
		display: none;
	}
}
@media (max-width: 500px) {
	.block{
		background-image: url("../media/parrottulip.jpg");
}
	.label.parrot {
		display:inline;
	}
	.label.daisy {
		display:none;
	}
	.label.orchid {
		display:none;
	}
	.label.orchid {
		display:none;
	}
	.label.inactive {
		display:none;
	}
	.label.active {
		display:none;
	}
}


@media (max-width: 400px) {
	
	.block{
	background-image: url("../media/tulip.jpg");
	}
	.label.parrot {
		display:none;
	}
	.label.daisy {
		display:none;
	}
	.label.orchid {
		display:none;
	}
	.label.orchid {
		display:none;
	}
	.label.inactive {
		display:inline;
	}
	.label.active {
		display:none;
	}

}
	
} /* end